.banners{
  width: 100%;
  height: calc(100vh - 2*var(--altura-header));
  min-height: 25rem;
  background-color: var(--cinza-claro);
  background-image: url('../img/bg_banner.jpg');
  background-size: cover;
  background-position: center;


  overflow: hidden;
}

  .contem__banners{
    height: 100%;
    width: 400%;
    display: flex;
    flex-direction: row;

    transition: 0.3s ease-in;
  }

    .banner{
      width: 100vw;
      display: flex;
      flex-direction: row;
    }

      .banner__imagens{

        background-image: url('../img/bg.png');
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        justify-content: center;
        align-items: center;
      }

        .banner__imagem{
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }

      .banner__info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

        .banner__titulo, .banner__descricao{
          color: var(--branco);
          text-shadow: 0 0 0.25rem black;
        }

        .banner__botao{
          text-transform: uppercase;
          width: 100%;
        }

/* MOBILE */
@media screen and (min-width:0){
  .banner{
    flex-direction: column;
  }

  .banner__imagens, .banner__info{
    width: 100%;
    height: 35%;
  }

  .banner__info{
    text-align: center;
    height: 65%;
  }
}/* MOBILE - FIM */


/* TABLET */
@media screen and (min-width: 768px){
  
}/* TABLET - FIM */


/* 1024 */
@media screen and (min-width: 1024px){
  .banner{
    flex-direction: row;
  }

  .banner__imagens, .banner__info{
    width: 50%;
    height: 100%;
  }

  .banner__info{
    text-align: right;
  }
}/* 1024 - FIM */


/* 1200 */
@media screen and (min-width: 1200px){
  
}/* 1200 - FIM */