.menu{
  transition: 0.3s;
}

.menu__lista{
  display: flex;
  justify-content: center;
  height: 100%;
}

  .menu__item{
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease-in-out;
  }
    .menu__link{
      text-decoration: none;
      color: var(--preto-claro);
      transition: 0.3s;
    }

      .menu__item:nth-child(1):hover{
        background-color: var(--ciano);
      }
      .menu__item:nth-child(2):hover{
        background-color: var(--magenta);
      }
      .menu__item:nth-child(3):hover{
        background-color: var(--amarelo);
      }
      .menu__item:nth-child(4):hover{
        background-color: var(--preto-claro);
        
      }

        .menu__item:nth-child(4):hover .menu__link{
          color: var(--branco);
        }

/* MOBILE */
@media screen and (min-width:0){
  .menu{
    height: 0;
    position: fixed;
    top: var(--altura-header);
    right: 0;
    width: 100%;

    background-color: var(--branco);

    overflow: hidden;
  }

  .menu-ativo{
    height: 10rem;
  }

  .menu__lista{
    flex-direction: column;
  }

  .menu__item{
    width: 100%;
    height: 3rem;
  }
}/* MOBILE - FIM */


/* TABLET */
@media screen and (min-width: 768px){
  .menu{
    width: calc(100% - 15rem);
  }
}/* TABLET - FIM */


/* 1024 */
@media screen and (min-width: 1024px){
  .menu{
    height: auto;
    width: fit-content;
    position: relative;
    top: auto;
    right: auto;
  }

  .menu__lista{
    flex-direction: row;
  }

  .menu__item{
    width: 8rem;
    height: 100%;
  }
}/* 1024 - FIM */


/* 1200 */
@media screen and (min-width: 1200px){
  
}/* 1200 - FIM */