.rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  background-color: var(--cinza-escuro);

  font-family: var(--fonte-padrao);
}

  .rodape__logo{
    height: 4rem;
    width: auto;
    object-fit: contain;
  }

  .rodape__slogan{
    font-family: var(--fonte-detalhe);
    color: var(--preto-claro);
    font-size: 1.5rem;
    font-weight: 400;
  }

  /* MOBILE */
@media screen and (min-width:0){
  .rodape .menu{
    background-color: unset;
    height: auto;
    position: relative;
    top: unset; right: unset;
    width: auto;
  }
}/* MOBILE - FIM */


/* TABLET */
@media screen and (min-width: 768px){
  
}/* TABLET - FIM */


/* 1024 */
@media screen and (min-width: 1024px){
  
}/* 1024 - FIM */


/* 1200 */
@media screen and (min-width: 1200px){
  
}/* 1200 - FIM */